/wechatSites/wechat-School-service/target/classes/zhongchiedu/service/Impl/*.class
/wechatSites/wechat-School-service/.settings/*.prefs
*.class
/wechatSites/wechat-Common-Utils/.settings
/wechatSites/wechat-Common-Utils/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
*.jar
pom.properties
*.prefs
*.classpath
*.project
*.MF
*.component
*.lst
/wechatSites/wechat-Common-Utils/target/classes/META-INF/maven/zhongchiedu.wechat/wechat-Common-Utils
.settings
wechat-Common-log
wechat-Common-shiro
wechat-General-service
target
