<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="public/public_css::pub_css"></head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet"
	th:href="@{/plugs/kindeditor/themes/default/default.css}" />
<link th:href="@{/plugs/bootstrap-fileinput/css/fileinput.css}"
	media="all" rel="stylesheet" type="text/css" />

<link rel="stylesheet"
	th:href="@{/plugs/kindeditor/plugins/code/prettify.css}" />
</head>

<body>
	<!-- Preloader -->
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
	<!-- TOP NAVBAR -->
	<div th:replace="public/public::top"></div>
	<!-- /END OF TOP NAVBAR -->

	<!-- SIDE MENU -->
	<div th:replace="public/public::left(activeUri='website')"></div>
	<!-- END OF SIDE MENU -->

	<!--  PAPER WRAP -->
	<div class="wrap-fluid">
		<div class="container-fluid paper-wrap bevel tlbr">


			<!-- CONTENT -->
			<!--TITLE -->
			<div th:replace="public/public::title"></div>
			<!--/ TITLE -->

			<!-- BREADCRUMB -->
			<div th:replace="public/public::menu"></div>
			<!-- END OF BREADCRUMB -->

			<div class="content-wrap">
				<div class="row">


					<div class="col-sm-12">
						<!-- BLANK PAGE-->

						<div style="margin: -20px 15px;" class="nest" id="Blank_PageClose">
							<div class="title-alt">
								<h6>产品发布</h6>
								<div class="titleClose">
									<a class="gone" href="#Blank_PageClose"> <span
										class="entypo-cancel"></span>
									</a>
								</div>
								<div class="titleToggle">
									<a class="nav-toggle-alt" href="#Blank_Page_Content"> <span
										class="entypo-up-open"></span>
									</a>
								</div>

							</div>


							<div class="body-nest" id="Blank_Page_Content">
								<div class="row">
									<!-- edit form column -->
									<div class="col-md-12 personal-info">
										<form class="form-horizontal" enctype="multipart/form-data"
											id="newsForm" th:action="@{/products}" method="post">
											<input type="hidden" name="_method" value="put"
												th:if="${products!=null}" /> <input type="hidden" name="id"
												th:if="${products!=null}" th:value="${products.id}">


											<div class="form-group">
												<label class="col-lg-1 control-label">产品名称：</label>
												<div class="col-lg-6">
													<input class="form-control" id="name"
														placeholder="请输入产品名称" name="name"
														th:value="${products!=null}?${products.name}" required="required">
												</div>
											</div>
											
										  <div class="form-group">
												<label class="col-lg-1 control-label">类型：</label>
												<div class="col-lg-6">
													<div class="ui-select">
														<select name="type" id="type"
															class="form-control" required>
															<option value="软件"
																th:selected="${products!=null}?${products.type eq '软件'}">软件产品</option>
															<option value="硬件"
																th:selected="${products!=null}?${products.type eq '硬件'}">硬件产品</option>
														</select>
													</div>
												</div>
											</div>
											
											
											<div class="form-group">
												<label class="col-lg-1 control-label">产品标题：</label>
												<div class="col-lg-6">
													<input class="form-control" id="title"
														placeholder="请输入产品标题" name="title"
														th:value="${products!=null}?${products.title}" required="required">
												</div>
											</div>

											<div class="form-group">
												<label class="col-lg-1 control-label">描述：</label>
												<div class="col-lg-6">
													<input class="form-control" id="desp" placeholder="请输入描述信息"
														name="desp" th:value="${products!=null}?${products.desp}"
														required="required">
												</div>
											</div>

										<div class="form-group">
												<label class="col-lg-1 control-label">产品图片：</label>
												<div class="col-lg-6" id="productfile">
													<input id="fileproduct" name="fileproduct" type="file">
												</div>
											</div>
											<input type="hidden"
												th:value="${products!=null&&products.showImg!=null}?${products.showImg.id}"
												name="oldproductsImg" id="oldproductsImg">
												
											<div class="form-group">
												<label class="col-lg-1 control-label">产品视频：</label>
												<div class="col-lg-6" id="productfile">
													<input id="videoproduct" name="videoproduct" type="file">
												</div>
											</div>
											<input type="hidden"
												th:value="${products!=null&&products.video!=null}?${products.video.id}"
												name="oldproductsvideo" id="oldproductsvideo">		

                                            
                                           <div class="form-group">
												<label class="col-lg-1 control-label">含有视频：</label>
												<div class="col-lg-6">
													<div class="ui-select">
														<select name="hasvideo" id="hasvideo"
															class="form-control" required>
															<option value="false"
																th:selected="${products!=null}?${products.hasvideo eq false}">不含有</option>
															<option value="true"
																th:selected="${products!=null}?${products.hasvideo eq true}">含有</option>
														</select>
													</div>
												</div>
											</div>
                                            
                            <!-- 
                             <div class="form-group">
									<label class="col-sm-1 control-label">视频选择:</label>
							 		 <div class="col-sm-3">
										<input id="selectText" type="text" class="form-control"
											readonly="true" name="sendName" 
											 th:value="${products!=null and products.video!=null}?${products.video.originalName+products.video.extension}"
											> <a data-toggle="modal"
											data-target="#myModal"><i class="icon icon-plus"
											title="add"></i></a>
									</div>
								</div>
								 -->
								
											<div class="form-group">
												<label class="col-lg-1 control-label">使用状态：</label>
												<div class="col-lg-6">
													<div class="ui-select">
														<select name="isDisable" id="isDisable"
															class="form-control" required>
															<option value="false"
																th:selected="${products!=null}?${products.isDisable eq false}">启用中</option>
															<option value="true"
																th:selected="${products!=null}?${products.isDisable eq true}">禁用中</option>
														</select>
													</div>
												</div>
											</div>
											
										<div class="form-group">
												<label class="col-lg-1 control-label">使用状态：</label>
												<div class="col-lg-6">
													<div class="ui-select">
														<select name="sort" id="sort"
															class="form-control" required>
															<option th:if="${products!=null}" th:value="${products.sort}" th:text="${products.sort}"></option>
															<option value="0">0</option>
														    <option value="1">1</option>
														    <option value="2">2</option>
														    <option value="3">3</option>
														    <option value="4">4</option>
														    <option value="5">5</option>
														</select>
													</div>
												</div>
											</div>




											<div class="form-group">
												<label class="col-lg-1 control-label"></label>
												<div class="col-md-8">
													<button type="submit" class="btn btn-success"
														th:text="${products!=null?'修改':'添加'}"></button>
													<span></span> <input th:if="${products} eq null"
														class="btn btn-default" value="重置" type="reset">
												</div>
											</div>
											
											<input type=hidden id="videoId" name="videoId" th:value="${products!=null and products.video!=null}?${products.video.id}" />
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END OF BLANK PAGE -->

				</div>
			</div>
   
			<!--/row-->

		</div>
	</div>
		<!-- 模态框 -->
	
	<div aria-labelledby="myLargeModalLabel" role="dialog" tabindex="-1"
		class="modal fade bs-example-modal-lg" style="display: none;"
		id="myModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="well" id="tree_deptlist"
					style="padding: 8px 0px; height: 300px; overflow-y: scroll;">
					<!-- ztree -->
					<div class="zTreeDemoBackground left">
						<ul id="tree" class="ztree"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<!--  END OF PAPER WRAP -->
	<!-- 右侧隐藏菜单start -->
	<div th:replace="public/public::right"></div>
	<!-- 右侧隐藏菜单end-->
	<!-- 底部js -->
	<div th:replace="public/public_js::pub_js"></div>

<!-- 	<script charset="utf-8" th:src="@{/plugs/kindeditor/kindeditor.js}"></script>
	<script charset="utf-8" th:src="@{/plugs/kindeditor/lang/zh_CN.js}"></script> -->
	<script charset="utf-8"
		th:src="@{/plugs/kindeditor/plugins/code/prettify.js}"></script>
	<script th:src="@{/plugs/bootstrap-fileinput/js/fileinput.js}"
		type="text/javascript"></script>



<script type="text/javascript" th:inline="javascript">
	
	var path = "";
	var img ;
	var showImg;
	var showVideo;
	/* <![CDATA[ */
		path = [[@{/}]];
			   showImg = [[${products!=null}?${products.showImg}:null]];
			   showVideo=[[${products!=null}?${products.video}:null]];
			   if(showImg!=null){
				 img = "<img src='"+path+showImg.savePath+"/"+showImg.generateName
				+"' class='file-preview-image' style='width:auto;height:160px;'>";
			   }

				$("#fileproduct").fileinput({
					maxFileCount : 1, //表示允许同时上传的最大文件个数
					allowedFileExtensions : [ ],//接收的文件后缀
					showUpload: false,
					showCaption: false,
					showPreview : true,//显示预览
					browseClass: "btn btn-primary btn-lg",
					fileType: "any",
		     	    previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
		      	    initialPreview : [
		      	  		 	img,
					],
			});
	
	
				//点击删除按钮之后将图片所在input清空
				$("#productfile .fileinput-remove-button").click(function(e){
					$("#oldproductsImg").val(""); 
				})
				//点击删除按钮之后将图片所在input清空
				$("#productfile .fileinput-remove").click(function(e){
				$("#oldproductsImg").val("");
				})
	
	
</script>

<script type="text/javascript" th:inline="javascript">
	
	var path = "";
	var showVideo;
	var video
	/* <![CDATA[ */
		path = [[@{/}]];
			   showVideo=[[${products!=null}?${products.video}:null]];
			   if(showVideo!=null){
				 img = "<img src='"+path+showImg.savePath+"/"+showImg.generateName
				+"' class='file-preview-image' style='width:auto;height:160px;'>";
				 video = "<video src='"+path+showVideo.savePath+"/"+showVideo.generateName
					+"' class='file-preview-frame' style='width:auto;height:160px;'>";
			   
			   }

				$("#videoproduct").fileinput({
					maxFileCount : 1, //表示允许同时上传的最大文件个数
					allowedFileExtensions : [ ],//接收的文件后缀
					showUpload: false,
					showCaption: false,
					showPreview : true,//显示预览
					browseClass: "btn btn-primary btn-lg",
					fileType: "any",
		     	    previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
		      	    initialPreview : [
		      	  		 	video,
					],
			});
	
	
				//点击删除按钮之后将图片所在input清空
				$("#videoproduct .fileinput-remove-button").click(function(e){
					$("#oldproductsvideo").val(""); 
				})
				//点击删除按钮之后将图片所在input清空
				$("#videoproduct .fileinput-remove").click(function(e){
				$("#oldproductsvideo").val("");
				})
	
	
</script>



<!-- 
<script th:inline="javascript">
       function ajaxDataFilter(treeId, parentNode, responseData) {
        if (responseData) {
          for(var i =0; i < responseData.length; i++) {
              console.log(responseData[i].name)
        	  // responseData[i].name += "_filter";
          }
        }
        return responseData;
    };
	var setting = {
			check: {
				enable: true,
				chkStyle: "radio"
			},
			async:{
			 enable:true,
			 url:[[@{/}]]+"productasyncTree",
			 dataFilter: ajaxDataFilter,
			 autoParam:["id","toastid"]
			},
			data: {
				key: {
					title: "title"
				},
				simpleData: {
					enable: true
				}
			},
			callback: {
				onCheck: onCheck
			},
		};
	var zNodes =[[${zNodes}]];
	console.log(zNodes);
    function onCheck(e,treeId,treeNode){
		var treeObj=$.fn.zTree.getZTreeObj("tree"),
        nodes=treeObj.getCheckedNodes(true),
		 // nodes = treeObj.getNodesByParam("title", "child", null);
        v="";
		x="";
		if(nodes==0){
			 $("#selectText").attr("value",v);	
	         $("#videoId").attr("value",x);			 
		}
        for(var i=0;i<nodes.length;i++){
	    if(!nodes[i].isParent){
		v+=nodes[i].name;     //+ ",";
		x+=nodes[i].id;       //+ ",";

		}
		  $("#selectText").attr("value",v);	
          $("#videoId").attr("value",x);			 
		 }
    }
	$(document).ready(function(){
		$.fn.zTree.init($("#tree"), setting, zNodes);
	});
    </script>
 -->







    	<!-- 引入ztree插件 -->
	<div th:replace="public/ztree_js::ztree_js"></div>


	<div th:replace="public/public_js::public_script"></div>
	<div th:replace="public/public::footer"></div>
	<!-- Jquery Validate -->
	<script type="text/javascript"
		th:src="@{/plugs/validate/jquery.validate.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/plugs/validate/messages_zh.min.js}"></script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/admin/webmenu/webmenu.js}"></script>
	<script type="text/javascript">
		
	</script>


</body>

</html>
