<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"
	name="viewport" />
<head th:include="/front/public/public_css::pub_css"></head>
<body>


	<!--导航-->
	<nav th:include="menu"></nav>
	<!--导航-->
	<!-- banner -->
	<div class="swiper-container about_banner">
		<div class="swiper-wrapper">
			<div class="swiper-slide" id="case_modal"
				style="background-image: url(assets/img/case_banner.png)"></div>
		</div>
	</div>
	<!-- main -->
	<div class="wrapper case_wrapper tab_wrapper">
		<div class="container_2">
			<div align="center" class="tab_nav">
				<ul class="list-inline tab">
					<li class="cur"><a href="#">全部</a></li>
					<li><a href="#">网站建设</a></li>
					<li><a href="#">移动APP</a></li>
					<li><a href="#">软件界面</a></li>
					<li><a href="#">互联网产品</a></li>
					<li><a href="#">电子商务</a></li>
					<li class="last"><a href="#">品牌&平面</a></li>
				</ul>
			</div>
			<div class="tab_box col-sm-12">
				<div class="tab_details on">
					<div class="row">
						<div class="col-sm-4 wow fadeInUp">
							<a href="case_details.html">
								<div class="main">
									<div class="main_box">
										<img class="img-responsive" src="assets/img/notebook.png"
											alt="">
										<div class="img_box">
											<img src="assets/img/case_list.png" alt="">
										</div>
										<div class="cover">
											<h4>上海超辉</h4>
											<div class="tc">
												<i class="icon iconfont"></i>
											</div>
										</div>
									</div>
									<p class="tc name visible-xs">上海超辉</p>
								</div>
							</a>
						</div>
						<div class="col-sm-4 wow fadeInUp">
							<a href="case_details.html">
								<div class="main">
									<div class="main_box">
										<img class="img-responsive" src="assets/img/notebook.png"
											alt="">
										<div class="img_box">
											<img src="assets/img/case_list1.png" alt="">
										</div>
										<div class="cover">
											<h4>上海超辉</h4>
											<div class="tc">
												<i class="icon iconfont"></i>
											</div>
										</div>
									</div>
									<p class="tc name visible-xs">上海超辉</p>
								</div>
							</a>
						</div>
						<div class="col-sm-4 wow fadeInUp">
							<a href="case_details.html">
								<div class="main">
									<div class="main_box">
										<img class="img-responsive" src="assets/img/notebook.png"
											alt="">
										<div class="img_box">
											<img src="assets/img/case_list.png" alt="">
										</div>
										<div class="cover">
											<h4>上海超辉</h4>
											<div class="tc">
												<i class="icon iconfont"></i>
											</div>
										</div>
									</div>
									<p class="tc name visible-xs">上海超辉</p>
								</div>
							</a>
						</div>
						<div class="col-sm-4 wow fadeInUp">
							<a href="case_details.html">
								<div class="main">
									<div class="main_box">
										<img class="img-responsive" src="assets/img/notebook.png"
											alt="">
										<div class="img_box">
											<img src="assets/img/case_list.png" alt="">
										</div>
										<div class="cover">
											<h4>上海超辉</h4>
											<div class="tc">
												<i class="icon iconfont"></i>
											</div>
										</div>
									</div>
									<p class="tc name visible-xs">上海超辉</p>
								</div>
							</a>
						</div>
						<div class="col-sm-4 wow fadeInUp">
							<a href="case_details.html">
								<div class="main">
									<div class="main_box">
										<img class="img-responsive" src="assets/img/notebook.png"
											alt="">
										<div class="img_box">
											<img src="assets/img/case_list.png" alt="">
										</div>
										<div class="cover">
											<h4>上海超辉</h4>
											<div class="tc">
												<i class="icon iconfont"></i>
											</div>
										</div>
									</div>
									<p class="tc name visible-xs">上海超辉</p>
								</div>
							</a>
						</div>
						<div class="col-sm-4 wow fadeInUp">
							<a href="case_details.html">
								<div class="main">
									<div class="main_box">
										<img class="img-responsive" src="assets/img/notebook.png"
											alt="">
										<div class="img_box">
											<img src="assets/img/case_list.png" alt="">
										</div>
										<div class="cover">
											<h4>上海超辉</h4>
											<div class="tc">
												<i class="icon iconfont"></i>
											</div>
										</div>
									</div>
									<p class="tc name visible-xs">上海超辉</p>
								</div>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="tab_details">2</div>
				<div class="tab_details">3</div>
				<div class="tab_details">4</div>
				<div class="tab_details">5</div>
				<div class="tab_details">6</div>
				<div class="tab_details">7</div>
			</div>
			<div class="page">
				<dl class="list-inline">
					<dd>
						<a class="pager-prev" href="#">< 上一页</a>
					</dd>
					<dd>
						<a class="active" href="#">1</a>
					</dd>
					<dd>
						<a href="#">2</a>
					</dd>
					<dd>
						<a href="#">3</a>
					</dd>
					<dd>
						<a href="#">4</a>
					</dd>
					<dd>
						<a href="#">5</a>
					</dd>
					<dd>
						<a href="#">....</a>
					</dd>
					<dd>
						<a href="#">100</a>
					</dd>
					<dd>
						<a class="pager-next" href="#">下一页 ></a>
					</dd>
				</dl>
			</div>
		</div>
	</div>
	<!-- 底部 -->
	<div th:replace="/front/public/public_js::footer"></div>
	<!-- 底部js -->
	<div th:replace="/front/public/public_js::pub_js"></div>
</body>
</html>
