<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"
	name="viewport" />
<head th:include="/front/public/public_css::pub_css"></head>
<body>
	<!--导航-->
	<nav th:include="menu"></nav>
	<!--导航-->
	<!-- banner -->
	<div class="swiper-container about_banner">
		<div class="swiper-wrapper">
			<div class="swiper-slide"
				style="background-image: url(assets/img/news_banner.png)"></div>
		</div>
	</div>
	<!-- main -->
	<div class="wrapper tab_wrapper news_wrapper">
		<div class="container">
			<div align="center" class="tab_nav">
				<ul class="list-inline tab">
					<li class="cur"><a href="#">企业新闻</a></li>
					<li><a href="#">企业公告</a></li>
					<li class="last"><a href="#">行业新闻</a></li>
				</ul>
			</div>
			<div class="tab_box">
				<div class="tab_details on">
					<ul class="list-unstyled">
						<li class=" wow fadeInUp"><a href="news_details.html">
								<div class="imgPic">
									<img src="assets/img/case_list1.png" height="145" width="225">
								</div>
								<div class="listInfo">
									<div class="nTitile">国际消费者权益日即3.15，（请预留8条新闻加分页）</div>
									<p>2018.3.15，国际消费者权益日，大众途锐被举报发动机进水严重质量问题及方向盘转不动，刹车不灵敏等问题，随之第二天
										大众官方发出致歉信，并上文请示将如回此款汽车...</p>
									<div class="n_bottom">
										<div class="pull-left">
											<button class="btn" href="#">查看详情&gt;&gt;</button>
										</div>
										<div class="pull-right">
											<span><i class="icon iconfont">&#xecf4;</i> 2016-10-22</span>
											<span><i class="icon iconfont">&#xec84;</i> 26</span>
										</div>
									</div>
								</div>
						</a></li>
						<li class=" wow fadeInUp"><a href="news_details.html">
								<div class="imgPic">
									<img src="assets/img/case_list1.png" height="145" width="225">
								</div>
								<div class="listInfo">
									<div class="nTitile">国际消费者权益日即3.15，大众“途锐”被举报发动机进水严重质量问题</div>
									<p>2018.3.15，国际消费者权益日，大众途锐被举报发动机进水严重质量问题及方向盘转不动，刹车不灵敏等问题，随之第二天
										大众官方发出致歉信，并上文请示将如回此款汽车...</p>
									<div class="n_bottom">
										<div class="pull-left">
											<button class="btn" href="#">查看详情&gt;&gt;</button>
										</div>
										<div class="pull-right">
											<span><i class="icon iconfont">&#xecf4;</i> 2016-10-22</span>
											<span><i class="icon iconfont">&#xec84;</i> 26</span>
										</div>
									</div>
								</div>
						</a></li>
						<li class=" wow fadeInUp"><a href="news_details.html">
								<div class="imgPic">
									<img src="assets/img/case_list1.png" height="145" width="225">
								</div>
								<div class="listInfo">
									<div class="nTitile">国际消费者权益日即3.15，大众“途锐”被举报发动机进水严重质量问题</div>
									<p>2018.3.15，国际消费者权益日，大众途锐被举报发动机进水严重质量问题及方向盘转不动，刹车不灵敏等问题，随之第二天
										大众官方发出致歉信，并上文请示将如回此款汽车...</p>
									<div class="n_bottom">
										<div class="pull-left">
											<button class="btn" href="#">查看详情&gt;&gt;</button>
										</div>
										<div class="pull-right">
											<span><i class="icon iconfont">&#xecf4;</i> 2016-10-22</span>
											<span><i class="icon iconfont">&#xec84;</i> 26</span>
										</div>
									</div>
								</div>
						</a></li>
						<li class=" wow fadeInUp"><a href="news_details.html">
								<div class="imgPic">
									<img src="assets/img/case_list1.png" height="145" width="225">
								</div>
								<div class="listInfo">
									<div class="nTitile">国际消费者权益日即3.15，大众“途锐”被举报发动机进水严重质量问题</div>
									<p>2018.3.15，国际消费者权益日，大众途锐被举报发动机进水严重质量问题及方向盘转不动，刹车不灵敏等问题，随之第二天
										大众官方发出致歉信，并上文请示将如回此款汽车...</p>
									<div class="n_bottom">
										<div class="pull-left">
											<button class="btn" href="#">查看详情&gt;&gt;</button>
										</div>
										<div class="pull-right">
											<span><i class="icon iconfont">&#xecf4;</i> 2016-10-22</span>
											<span><i class="icon iconfont">&#xec84;</i> 26</span>
										</div>
									</div>
								</div>
						</a></li>
					</ul>
				</div>
				<div class="tab_details">
					<ul class="list-unstyled">
						<li class=" wow fadeInUp"><a href="news_details.html">
								<div class="imgPic">
									<img src="assets/img/case_list1.png" height="145" width="225">
								</div>
								<div class="listInfo">
									<div class="nTitile">国际消费者权益日即3.15，(请预留8条新闻加分页)</div>
									<p>2018.3.15，国际消费者权益日，大众途锐被举报发动机进水严重质量问题及方向盘转不动，刹车不灵敏等问题，随之第二天
										大众官方发出致歉信，并上文请示将如回此款汽车...</p>
									<div class="n_bottom">
										<div class="pull-left">
											<button class="btn" href="#">查看详情&gt;&gt;</button>
										</div>
										<div class="pull-right">
											<span><i class="icon iconfont">&#xecf4;</i> 2016-10-22</span>
											<span><i class="icon iconfont">&#xec84;</i> 26</span>
										</div>
									</div>
								</div>
						</a></li>
					</ul>
				</div>
				<div class="tab_details">
					<ul class="list-unstyled">
						<li class=" wow fadeInUp"><a href="news_details.html">
								<div class="imgPic">
									<img src="assets/img/case_list1.png" height="145" width="225">
								</div>
								<div class="listInfo">
									<div class="nTitile">国际消费者权益日即3.15，大众“途锐”被举报发动机进水严重质量问题</div>
									<p>2018.3.15，国际消费者权益日，大众途锐被举报发动机进水严重质量问题及方向盘转不动，刹车不灵敏等问题，随之第二天
										大众官方发出致歉信，并上文请示将如回此款汽车...</p>
									<div class="n_bottom">
										<div class="pull-left">
											<button class="btn" href="#">查看详情&gt;&gt;</button>
										</div>
										<div class="pull-right">
											<span><i class="icon iconfont">&#xecf4;</i> 2016-10-22</span>
											<span><i class="icon iconfont">&#xec84;</i> 26</span>
										</div>
									</div>
								</div>
						</a></li>
					</ul>
				</div>
			</div>
			<div class="page">
				<dl class="list-inline">
					<dd>
						<a class="pager-prev" href="#">< 上一页</a>
					</dd>
					<dd>
						<a class="active" href="#">1</a>
					</dd>
					<dd>
						<a href="#">2</a>
					</dd>
					<dd>
						<a href="#">3</a>
					</dd>
					<dd>
						<a href="#">4</a>
					</dd>
					<dd>
						<a href="#">5</a>
					</dd>
					<dd>
						<a href="#">....</a>
					</dd>
					<dd>
						<a href="#">100</a>
					</dd>
					<dd>
						<a class="pager-next" href="#">下一页 ></a>
					</dd>
				</dl>
			</div>
		</div>
	</div>
	<!-- 底部 -->
	<div th:replace="/front/public/public_js::footer"></div>
	<!-- 底部js -->
	<div th:replace="/front/public/public_js::pub_js"></div>
	
	
</body>
</html>
